body{
    background-color: rgb(141, 218, 228);
}
h1{
    font-size: 30px;
    text-align: center;
}
h3{
    text-align: center;
}
p{
    color: rgb(16, 53, 53);
}
.part-image{
    border-radius: 50%;
}
.title{
    text-align: center;
    text-decoration: underline;

}
.title:hover{
    color: darkblue;
}
.container{
    display: flex;
    justify-content: space-around;
}
.right-side{
    min-width: 50%;
    position: relative;
}
.left-side{
    min-width: 50%;
    position: relative;

}
.Hire{
    position: sticky;
    text-decoration: none;
    color: aliceblue;
    font-size: larger;
    background-color: rgb(94, 94, 202);
    border-radius: 20% 5%;
    padding: 20px 40px;
    margin: 5px;
}
.second-left{
    padding-left: 40px;
    padding-top: 200px;
    padding-right: 50px;
}

.second-right{
    position: relative;
    width: 50%;
    margin-top: 100px;
}
.video-art{
    margin-left: 50px;
}
caption{
    text-align: center;
}
.draw-art{
    margin-left: 100px;
    margin-right: 50px;
    margin-top: 50px;
}
footer{
    margin-top: 100px;
    text-align: center;
    color: rgb(0, 0, 240);
    white-space: nowarp;
}