body{
    background-color: rgb(141, 218, 228);
}
h1{
    font-size: 30px;
    text-align: center;
}
p{
    color: rgb(16, 53, 53);
}
.part-image{
    border-radius: 50%;
}
.title{
    text-align: center;
    text-decoration: underline;

}
.title:hover{
    color: darkblue;
}
.container{
    display: flex;
    justify-content: space-around;
    height: 700px;
    margin-bottom: 40px;
    align-items: center;
    overflow-wrap: break-word;
}
.right-side{
    width: 50%;
   
}
.left-side{
    width: 50%;
    text-overflow: ellipsis;
    overflow: scroll(y);

}
.Hire{
    position: sticky;
    text-decoration: none;
    color: aliceblue;
    font-size: larger;
    background-color: rgb(94, 94, 202);
    border-radius: 20% 5%;
    padding: 20px 20px;
    margin: 5px;
}
.second-left{
    width: 50%;
    padding-top: 10%;
    text-overflow: ellipsis;
    
}

.second-right{
    width: 50%;
    margin-top: 50px;
}
.video-art{
    width: 50%;
    text-overflow: ellipsis;
}
.draw-art{
    width: 50%;
    margin-top: 50px;
}
.center{
    display: block;
}
footer{
    margin-top: 100px;
    text-align: center;
    color: rgb(0, 0, 240);
}